.*

# Dependency directories
node_modules

# dotenv environment variables file
.env

# vscode settings folder
.vscode/

# keys
*rsa*

# Terraform config
terraform.*
*terraform.tfstate*

!.gitlab-ci.*

!.gitignore
